*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 85%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}
.logo{
    float: left;
    width: 65%;
}
.header{
    height: 100px;
    line-height: 90px;
    
}
.main-title{
    height: 220px;
    background: #4c94d4;
    line-height: 200px;
}
.main-title h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 6px black;
}
.lista li{
    width: 8%;
    float: left;
    list-style: none;
    font-size: 14px;
}
#li3{
    margin-left: 5px
}
.lista a{
    text-decoration: none;
    color: black;
}
.lista a:hover{
    font-size: 15px;
    color: firebrick;
}
.service{
    height: 790px; 
}
.service h1{
    color: gray;
}
.item{
    margin-top: 30px;
    text-align: center;
    width: 33%;
    float: left;
    line-height: 25px;
}
.item img{
    width: 100px;
    height: 100px;
}
.item p{
    padding: 35px;
    text-align: justify;
}
.sub-header{
    border-bottom: 1px solid;
}
.sub-header h1{
    line-height: 100px;
    text-align: center;
    color: #2E2E2E;
}
.imgs{
    height: 700px;
    background-color: rgba(254, 46, 46, 0.9);
}
.footer{
    width: 100%;
    height: 620px;
    background-color: #2E2E2E;
    font-family: 'Ubuntu', sans-serif;
}
.information{
    width: 33%;
    float:left;
    text-align: center;
}
#inf{
    margin-top: 80px;
    text-align: left;
    color: whitesmoke;
    line-height: 40px;
}
#map{
    margin-top: 80px;
    text-align: left;
    color: whitesmoke;
    line-height: 40px;
}
#map i{
    font-size: 36px;
    color: white;
    margin-left: 20px;
}
.content-img{
    line-height: 600px;
    width: 90%;
    margin: 0px auto;
}
.content-img img{
    width: 24%;
    border-radius: 10px;
}
.sub-header2{
    border-bottom: 1px solid white;
}
.sub-header2 h1{
    text-shadow: 0px 0px 8px black;
    line-height: 100px;
    color:white;
    text-align: center;
}
@media (max-width:1330px){
    .service{
        height: 830px;
    }
}
@media (max-width:1100px){
    .service{
        height: 850px;
    }
}
@media (max-width:1000px) {
    .logo{
        width:50%;
    }
    .logo img{
        width: 120px;
        height: 45px;
    }
    .lista li{
        width: 12%;
        float: left;
        list-style: none;
        font-size: 12px;
    }
}
@media (max-width:875px){
    .service{
        height: 600px;
    }
    .lista li{
        width: 16%;
        float: left;
        list-style: none;
        font-size: 13px;
    }
    .content-img{
        height: 200px;
    }
    #li2{
        display: none;
    }
    .imgs{
        display: none;
    }
}
@media (max-width:750px){

    .item{
        margin-top: 30px;
        text-align: center;
        width: 95%;
        float: none;
        line-height: 25px;
    }
    .item img{
        width: 100px;
        height: 100px;
    }
    .item p{
        padding: 10px;
        text-align: justify;
    }
    .service{
        height: 1560px;
    }
}
@media (max-width:700px){
    .service{
        height: 1580px;
    }
}
@media (max-width:680px){
    .service{
        height: 1610px;
    }
}
@media (max-width:650px){
    .service{
        height: 1630px;
    }
    .footer{
        width: 100%;
        height: 970px;
        background-color: #2E2E2E;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .information{
        width: 95%;
        float: none;
        text-align: center;
    }
    
    #inf{
        margin-top: 0px;
        text-align: center;
        color: whitesmoke;
        line-height: 40px;
    }
    
    #map{
        margin-top: 40px;
        text-align: center;
        color: whitesmoke;
        line-height: 40px;
    }
}
@media (max-width: 590px){
    .service{
       height: 1650px;
    }
    .logo{
        float: none;
        width: 100%;
        text-align: center;
    }
    .header{
        height: 140px;
        line-height: 90px;
    }
    .main-title{
        height: 220px;
        background: #4c94d4;
    }
    .main-title h1{
        text-align: center;
        color: white;
        text-shadow: 0px 0px 6px black;
    }
    .lista li{
        width: 23%;
        float: left;
        list-style: none;
        font-size: 14px;
        line-height: 20px;
    }
    #li0{
        margin-left: 20%;
    }
}

@media (max-width: 530px){
    .main-title{
        height: 140px;
        line-height: 140px;
    }
    .main-title h1{
        font-size: x-large;

    }
    .lista li{
        width: 22%;
    }
    .service{
        height: 1660px;
    }
}

@media (max-width: 520px){
    .main-title{
        height: 140px;
        line-height: 140px;
    }
    .lista li{
        width: 22%;
    }
    .service{
        height: 1700px;
    }
}

@media (max-width: 475px){
    .service{
        height: 1720px;
    }
    
}
@media (max-width: 470px){
    .lista li{
        width: 22%;
    }
    .service{
        height: 1760px;
    }
}
@media (max-width: 454px){
    .service{
        height: 1780px;
    }
}
@media (max-width: 440px){
    .service{
        height: 1800px;
    }
}
@media (max-width: 400px){
    .service{
        height: 1820px;
    }
}
@media (max-width: 390px){
    .main-title h1{
        font-size: large;
    }
    .service{
        height: 1840px;
    }
}
@media (max-width: 374px){
    .lista li{
        width: 24%;
    }
    .service{
        height: 1880px;
    }
    #li0{
        margin-left: 15%;
    }

}
@media (max-width: 370px){
    .service{
        height: 1920px;
    }
}
@media (max-width: 360px){
    .service{
        height: 1940px;
    }

}
@media (max-width: 335px){
    .service{
        height: 1960px;
    }
}
@media (max-width: 322px){
    .lista li{
        width: 26%;
    }
    .service{
        height: 2000px;
    }
    #li0{
        margin-left: 11%;
    }
    
}

@media (max-width: 320px){

    .service{
        height: 2030px;
    }
}


@media (max-width: 320px){

    .service{
        height: 2060px;
    }
}
